<body>
    <div class="main text-center mt-5">
        <h6 class="heading">fashion bag</h6>
        <p class="text-info">gift coupons </p>
        <p class="text-info"></p>
    </div>
    <div class="container mt-4 d-flex justify-content-center">
        <div class="row g-0">
            <div class="col-md-4 border-right">
                <div class="cards">
                    <div class="first bg-white p-4 text-center"> <h1>50% OFF</h1>
                        <h5>orders above 5000</h5>
                        <p class="line1">coupon code:fab50</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-right">
                <div class="cards">
                    <div class=" second bg-white p-4 text-center"> <h1>350 OFF</h1>
                        <h5>orders above 2500</h5>
                        <p class="line2">coupon code:fas350</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cards">
                    <div class=" third bg-white p-4 text-center"> <h1>150 OFF</h1>
                        <h5>orders above 1000</h5>
                        <p class="line3">coupon code:kp150</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 d-flex justify-content-center">
        <div class="row g-0">
            <div class="col-md-4 border-right">
                <div class="cards">
                    <div class="first bg-white p-4 text-center"> <h1>30% OFF</h1>
                        <h5>orders above 4000</h5>
                        <p class="line1">coupon code:fab30</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-right">
                <div class="cards">
                    <div class=" second bg-white p-4 text-center"> <h1>550 OFF</h1>
                        <h5>orders above 3000</h5>
                        <p class="line2">coupon code:fas550</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cards">
                    <div class=" third bg-white p-4 text-center"> <h1>250 OFF</h1>
                        <h5>orders above 1500</h5>
                        <p class="line3">coupon code:kp250</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
