<body style="background-image: url('./assets/proimg/pamiki.jpg');">
    <h1>THE ITEMS THAT YOU ARE SELECTED FROM DIFFERENT SECTIONS WILL BE DISPLAYED HERE</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/MEN51.jpg" height="100px"> <img class="pic-2" src="./assets/proimg/MEN55.jpg" height="100px"> </a>
                        <ul class="social">
                            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">sherwani</a></h3> <span class="price"><h4>RS 2569</h4></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/MEN4.jpg" > <img class="pic-2" src="./assets/proimg/MEN5.jpg" height="1500px"> </a>
                        <ul class="social">
                            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">sherwani</a></h3> <span class="price"><h4>RS 8569</h4></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/MEN6.jpg" height="1000px"> <img class="pic-2" src="./assets/proimg/MEN66.jpg" height="1000px"> </a>
                        <ul class="social">
                            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">sherwani</a></h3> <span class="price"> <h4>9562</h4></span>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <hr>
      <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/kie1.jpg" > <img class="pic-2" src="./assets/proimg/kie11.jpg" > </a>
                        <ul class="social">
                            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">baby gown</a></h3> <span class="price"><h4>RS 569</h4></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/kie2.jpg" > <img class="pic-2" src="./assets/proimg/kie22.jpg" > </a>
                        <ul class="social">
                            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">baby gown</a></h3> <span class="price"><h4>RS 856</h4></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/kie3.jpg"> <img class="pic-2" src="./assets/proimg/kie33.webp" > </a>
                        <ul class="social">
                            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">baby gown</a></h3> <span class="price"> <h4>956</h4></span>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <hr>
      


</body>
