<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>FASHION BAG</h1>
  <h5>Buy less,Choose well,Make it last </h5>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src="./assets/proimg/log.jpg" alt="no img" width="20px" height="20px">fashionbag</a>


  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mens">mens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/women">women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/kids">kids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wishlist">wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bag">bag</a>
      </li>
      
      



  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/others" id="navbardrop" data-toggle="dropdown">
          others
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/others/coupons">coupons</a>
          <a class="dropdown-item" routerLink="/others/faqs">faqs</a>
          <a class="dropdown-item" routerLink="/others/contactus">contactus</a>
        </div>
      </li>
      <div class="right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">signup</a>
  
        </li>

      </div>
    </ul>
  </nav>

 
 
 
 
 
    <router-outlet></router-outlet>
  
    
    
  
    
  
  
  
  
  
  
  
</body>
 <div>
   <app-footer></app-footer>
 </div>

  




</html>



































































