<body style="background-image: url('./assets/proimg/extra\ 4.jpg');">
    <h1>TOP QUERIES</h1>
    <h3> 1.How do I cancel the order,I have placed?</h3>
    <h5>Order can be canceled till the same is out for delivery.refund will be processed to your account,if order amount was paid online</h5>
    <h3>2.HOW do I create a return request?</h3>
    <h5>You can create a return request in three simple steps</h5>
    <li>tap on my orders</li>
    <li>choose item to be returned</li>
    <li>enter details requested and create a return request</li>
    <h3>3.What is try and buy services?</h3>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia repellendus optio totam laboriosam quod, fugit quo neque dolor animi et voluptas voluptate, similique quisquam amet blanditiis delectus, voluptatum perspiciatis.</h5>
    <h3>4.Where do i  Self ship the returns?</h3>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eos, hic repudiandae fugiat delectus nulla quas omnis adipisci dignissimos molestias accusamus amet nihil alias deleniti totam minus, obcaecati sint. Vitae!</h5>
    <h3>5.Why are there different prices for the same product ? IS It legal</h3>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, amet autem et fugiat eligendi mollitia similique eius sit veniam unde. Aperiam soluta consequuntur rem nemo eos ad harum maxime consectetur.</h5>







</body>


