<body style="background-image: url('./assets/proimg/menw1.jpg');">
    <h1>Mens Wear</h1>

  <div class="container">   
            
    <!---carousal-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>
    
         <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/proimg/carmen1.jpg" alt="0" width="100%" height="300px">
      
    </div>

    <div class="carousel-item">
      <img src="./assets/proimg/shercar3.jpg" alt="1" width="100%" height="300px">
      <div class="carousel-caption">
          <h1>Manyavar Collections</h1>
          <h5>For The Royal Look</h5>

      </div>
    </div>
      
    

    <div class="carousel-item">
      <img src="./assets/proimg/carmen3.jpeg" alt="2" width="100%" height="300px">
      <div class="carousel-caption">
        <h5 id="p">MID YEAR</h5>
        <h1 id="p">SALE</h1>
        <h5 id="p">12th-16th JUNE</h5>
        <h1 id="p">40-70%off</h1>
        <h5 id="p">Now Live</h5>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/allu1.jpg" height="100px"> <img class="pic-2" src="./assets/proimg/allu2.jpg" height="100px"> </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">blue blazzer</a></h3> <span class="price"><h4>RS 2569</h4></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/sharukbbbbb.webp" > <img class="pic-2" src="./assets/proimg/MEN21.jpg" height="1500px"> </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">suit</a></h3> <span class="price"><h4>RS 8569</h4></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/MEN3.jpg" height="1000px"> <img class="pic-2" src="./assets/proimg/MEN33.jpg" height="1000px"> </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">suit</a></h3> <span class="price"> <h4>9562</h4></span>
                </div>
            </div>
        </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/MEN51.jpg" height="100px"> <img class="pic-2" src="./assets/proimg/MEN55.jpg" height="100px"> </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">sherwani</a></h3> <span class="price"><h4>RS 2569</h4></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/MEN4.jpg" > <img class="pic-2" src="./assets/proimg/MEN5.jpg" height="1500px"> </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">sherwani</a></h3> <span class="price"><h4>RS 8569</h4></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/MEN6.jpg" height="1000px"> <img class="pic-2" src="./assets/proimg/MEN66.jpg" height="1000px"> </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">sherwani</a></h3> <span class="price"> <h4>9562</h4></span>
                </div>
            </div>
        </div>
    </div>
  </div>
  <hr>
  
  
    
    
</body>

