<body style="background-image: url('./assets/proimg/menwal.img');">
    <h1>fashionbag</h1>
  <div class="container">   
            
    <!---carousal-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>
    
         <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/proimg/carouh1.jpg" alt="0" width="100%" height="300px">
      <div class="carousel-caption">
          <h1>This Wedding Season</h1>
          <h5>make your wedding very special with fashion bag</h5>
          <h1>50% off on orders above 3000</h1>
          <h5>hurry up,grab it fast</h5>
      </div>
    </div>

    <div class="carousel-item">
      <img src="./assets/proimg/carouh2" alt="1" width="100%" height="300px">
    </div>
      
    

    <div class="carousel-item">
      <img src="./assets/proimg/carouh1.jpg" alt="2" width="100%" height="300px">
      <div class="carousel-caption">
        <h5>MID YEAR</h5>
        <h1>SALE</h1>
        <h5>12th-16th JUNE</h5>
        <h1>40-70%off</h1>
        <h5>Now Live</h5>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
  </div>
  <h1>fashion is what you buy but style is what you do with it</h1>
  <h2>TOP BRANDS AT THE BEST PRICES</h2>
  <div class="card-columns">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <h2>ROADSTER</h2>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <h2>H&M</h2>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <h2>HIGHLANDER</h2>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <h2>WRANGLER</h2>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
        <h2>LEVI'S</h2>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
        <h2>LIBAS</h2>
      </div>
    </div>
    <div class="card bg-primary">
      <div class="card-body text-center">
        <h2>KITTENS</h2>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
        <h2>BIBA</h2>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
        <h2 >GINI AND JONNY</h2>
      </div>
    </div>
  </div>
  <div class="container mt-4 d-flex justify-content-center">
    <div class="row g-0">
        <div class="col-md-4 border-right">
            <div class="cards">
                <div class="first bg-white p-4 text-center"> <h1>T-shirts</h1>
                    <h5>starts under 599</h5>
                    <p class="line1"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 border-right">
            <div class="cards">
                <div class=" second bg-white p-4 text-center"> <h1>kurtis</h1>
                    <h5>starts under250</h5>
                    <p class="line2"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cards">
                <div class=" third bg-white p-4 text-center"> <h1 >  frocks</h1>
                    <h5>starts under   950</h5>
                    <p class="line3"></p>
                </div>
            </div>
        </div>
    </div>
</div>
  
    

  
  
    
    
</body>


