<body style="background-image: url('./assets/proimg/extra\ 2.jpg');">
    <h1>Women Wear</h1>
  <div class="container">   
            
    <!---carousal-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>
    
         <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/proimg/womcarrrrrr.png" alt="0" width="100%" height="300px">
      
    </div>

    <div class="carousel-item">
      <img src="./assets/proimg/sare1.jpg" alt="1" width="100%" height="300px">
      <div class="carousel-caption">
          <h1>saree collections</h1>

      </div>
    </div>
      
    

    <div class="carousel-item">
      <img src="./assets/proimg/carwom2.jpg" alt="2" width="100%" height="300px">
      
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/w7.jpg"> <img class="pic-2" src="./assets/proimg/w77.jpg"> </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">lehanga</a></h3> <span class="price"><h4>5856</h4></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/w8.webp"> <img class="pic-2" src="./assets/proimg/w88.jpg"> </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">saree</a></h3> <span class="price"><h4>RS 5369</h4></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/w9.jpg"> <img class="pic-2" src="./assets/proimg/w99.jpg"> </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">lehanga</a></h3> <span class="price"><h4>RS 9985</h4></span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
  <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="product-grid2">
              <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/womfas3.jpg"> <img class="pic-2" src="./assets/proimg/sarepatt.jpg"> </a>
                  <ul class="social">
                      <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                      <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">saree</a></h3> <span class="price"><h4>RS 2569</h4></span>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="product-grid2">
              <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/womfas1.jpg"> <img class="pic-2" src="./assets/proimg/womfas11.webp"> </a>
                  <ul class="social">
                      <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                      <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Women's Top</a></h3> <span class="price"><h4>RS 678</h4></span>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="product-grid2">
              <div class="product-image2"> <a href="#"> <img class="pic-1" src="./assets/proimg/womfas2.jpg"> <img class="pic-2" src="./assets/proimg/womfas33.jpeg"> </a>
                  <ul class="social">
                      <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                      <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Women's Top</a></h3> <span class="price"> <h4>RS 500</h4></span>
              </div>
          </div>
      </div>
  </div>
</div>
<hr>

    
    
</body>


